// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}


.colorfull-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #4EE7FC, #4E5EFC);
}

ion-icon {
  &[class*="mana-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    //background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="mana-B"] {
    mask-image: url(../assets/icon/B.svg);
  }

  &[class*="mana-G"] {
    mask-image: url(../assets/icon/G.svg);
  }

  &[class*="mana-R"] {
    mask-image: url(../assets/icon/R.svg);
  }

  &[class*="mana-U"] {
    mask-image: url(../assets/icon/U.svg);
  }

  &[class*="mana-W"] {
    mask-image: url(../assets/icon/W.svg);
  }
}
